<section>
    <div class="dice-roll">
            <div class="godice-flavor">
                {{#if roll.options.flavor}}
                    <h2 class="godice-flavor-header">{{roll.options.flavor}}</h2>
                {{else}}
                    <h2 class="godice-flavor-header">Custom Roll</h2>
                {{/if}}
            </div>
            <div class="godice-formula">{{roll._formula}}</div>
            <img class="godice-logo" src="modules/godice/artwork/GoDiceLogo.svg" width="90px" height="90px">
    </div>

    <div class="terms-container">
        <div class="terms">
            {{#each terms as |term i|}}
                <div class="dice-term flexcol">
                    {{#if term.faces}}
                        {{#if term.image}}
                            <img src="{{term.image}}" alt="d{{term.faces}}" class="dice-term-image" width="240px" height="240px"/>
                        {{else}}
                            <i class="fa-solid {{term.icon}}"></i>
                        {{/if}}
                        <p class="dice-term-faces"><b>d{{term.faces}}</b></p>
                    {{/if}}
                    <input {{#unless i}}autofocus{{/unless}} type="number" class="dice-term-input" name="{{term.id}}" min="1" max="{{term.faces}}"
                        value="{{ value }}" data-icon="{{term.icon}}" data-rolling="false" data-denomination="{{ denomination }}"
                        data-d10rolling="false" data-d10resolved="false" data-d10xrolling="false" data-d10xresolved="false" />
                </div>
            {{/each}}
        </div>
    </div>

    <button type="submit" class="dialog-button ok default" data-button="ok">
        <i class="fas fa-check"></i>
        Submit
    </button>
</section>
